<h2 class="text-center">{{title}}</h2>
<div>{{errorMessage}}</div>
<div class="d-flex justify-content-center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="border rounded p-4">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="error-message">
        Email is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" formControlName="password" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
        Password is required
      </div>
    </div>
    <br />
    <button type="submit" class="btn btn-primary d-block mx-auto" [disabled]="loginForm.invalid">Submit</button>
    <div class="text-center mt-3">
      Don't have an account? <a href="/signup">Register here</a>
    </div>
  </form>
</div>