.Post {
  min-width: 50vw;
  width: 100%;
  background-color: #d8c2a266;
  border-radius: 10px;
  margin: 20px auto 0;
  padding: 20px 40px;
}
.Post hr {
  margin-top: 0;
  margin-bottom: 0;
}
.Post h1 {
  margin-bottom: 5px;
}
.Post-username {
  font-style: italic;
  margin-bottom: 0;
}
.Post-tags {
  color: gray;
  margin-bottom: 0;
}
.Post-content {
  margin-top: 10px;

  font-size: 1.3em;
}

/* STAR */
.five-pointed-star {
  --star-color: #a3a3a349;
  /* margin: 1em auto; */
  font-size: 1em;
  position: relative;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(35deg);
}
.five-pointed-star:hover {
  --star-color: #00000083;
}

.active {
  --star-color: #00000083;
}

.active:hover {
  --star-color: #a3a3a349;
}

.five-pointed-star:before {
  border-bottom: 0.8em solid var(--star-color);
  border-left: 0.3em solid transparent;
  border-right: 0.3em solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -0.45em;
  left: -0.65em;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.five-pointed-star:after {
  position: absolute;
  display: block;
  top: 0.03em;
  left: -1.05em;
  width: 0;
  height: 0;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid var(--star-color);
  border-left: 1em solid transparent;
  transform: rotate(-70deg);
  content: "";
}
