<div
  class="Post"
  *ngIf="
    post?.username?.toLowerCase()?.includes(userFilter.toLowerCase()) &&
    post?.title?.toLowerCase()?.includes(titleFilter.toLowerCase())
  "
>
  <h1 class="Post-title">{{ post?.title }}</h1>
  <p class="Post-username">by {{ post?.username }} at {{ post?.date }}</p>
  <hr />
  <p class="Post-tags">{{ post?.tags }}</p>
  <p class="Post-content">{{ post?.content }}</p>
  <div class="buttons">
    <div
      role="button"
      class="five-pointed-star"
      (click)="implementFav(post?._id)"
    ></div>
  </div>
</div>
